{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div id="first-image"></div>
<div class="container">
    <div class="content">
        <h1>UniDrink</h1>
        <p>content here</p>
        <p>content here</p>
        <p>content here</p>
        <p>content here</p>
    </div>
</div>
<div id="second-image"></div>
<div class="container">
    <div class="content">
        <h1>Football data</h1>
        <p>content here</p>
        <p>content here</p>
        <p>content here</p>
        <p>content here</p>
        <p>content here</p>
    </div>
</div>
<div id="third-image"></div>
{% endblock %}